@*
*.zip
release/*
releases/*
hemtt
hemtt.exe
.hemttout
tools/temp
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
*.hemttprivatekey
Thumbs.db
CHANGELOG.md
sqfvm.exe
ArmaScriptCompiler.exe
*.sqfc
target/
!extras/**/*.zip
