body > footer {
    background-color: $very-dark-gray;
    padding: rem-calc(40) 0;
    color: $aluminium;

    p,h1,h2,h3,h4,h5,h6 {
        color: inherit;
    }

    a {
        color: lighten($primary-color, 10%);
    }
}
