body > footer {
    background-color: $oil;
    padding: rem-calc(40) 0;
    color: $iron;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }

    a {
        color: $primary-color-lighter;
    }
}
