* {
    transition: all 0.15s ease;
}

body {
    background-color: $very-dark-gray;
}

body > main {
    padding: rem-calc(20) 0;

    @include breakpoint(medium up) {
        padding: rem-calc(40) 0;
    }

    background-color: $white;

    img {
        margin-bottom: rem-calc(20);
    }
}

@include breakpoint(small) {
    aside {
        margin-bottom: rem-calc(24);
    }
}

.wiki-page {
    section {
        order: 1;
    }
    aside {
        order: 0;
    }
}

@include breakpoint(medium up) {
    .wiki-page {
        section {
            order: 0;
        }
        aside {
            order: 1;
        }
    }
}
