<footer>
    <div class="row">
        <div class="large-4 columns">
            <h2>ACE3</h2>
            <p>ACE3 is a joint effort by the teams behind ACE2, AGM and CSE to improve the realism and authenticity of Arma 3.</p>
            <p>If you want to contribute something to ACE3, simply fork the <a href="{{ site.githubUrl }}" target="_blank">GitHub repository</a> and submit your pull requests for review.</p>
        </div>
        <div class="large-4 columns">
            <h2>Issues / Feedback</h2>
            <p>Issues, feature requests and feedback are welcome at the <a href="{{ site.githubUrl }}/issues" target="_blank">ACE3 GitHub issue tracker</a>.</p>
            <p>Before reporting an issue, please read the wiki entry <a href="{{ site.baseurl }}/wiki/user/how-to-report-an-issue.html">"How to report an issue"</a>.</p>
            <p>We have have created a single <a href="{{ site.githubUrl }}/issues/414/" target="_blank">issue for feature requests</a>.</p>
        </div>
        <div class="large-4 columns">
            <h2>Social Media</h2>
            <div class="social__icons">
                <a class="social__icon" href="https://facebook.com/ACE3Mod" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a class="social__icon" href="https://youtube.com/c/ACE3Mod" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>
                <a class="social__icon" href="https://twitter.com/ACE3Mod" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                <a class="social__icon" href="http://reddit.com/r/ACE3/" target="_blank"><i class="fa fa-reddit fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>

<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PZ5KHL"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    if (document.location.hostname.search("ace3mod.com") !== -1) {

        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PZ5KHL');

    }
    </script>

<script src="{{ site.baseurl }}/js/footer.dev.js?v={{site.time | date: '%Y%m%d%H'}}"></script>
</body>
</html>
