<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.baseurl }}/index.html">ACE3</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
        {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url contains link.url %}
                {% assign current = 'active' %}
            {% endif %}
            <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
  </section>
</nav>