@import "vendor/normalize";
@import "settings";

//@import "foundation";

// Or selectively include components
//@import "foundation/components/accordion";
//   "foundation/components/alert-boxes",
@import "foundation/components/block-grid";
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
@import "foundation/components/buttons";
@import "foundation/components/clearing";
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
@import "foundation/components/panels";
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
@import "foundation/components/side-nav";
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
@import "foundation/components/tables";
//   "foundation/components/tabs",
@import "foundation/components/thumbs";
//   "foundation/components/tooltips",
@import "foundation/components/top-bar";
@import "foundation/components/type";
//   "foundation/components/offcanvas",
@import "foundation/components/visibility";


@import "vendor/slick";
@import "vendor/slick-theme";

@import "vendor/fontawesome/font-awesome";


/*
*   Custom Stylesheets
*/

@import "utils";

@import "layout";
@import "footer";

@import "ui/syntax";
@import "ui/links";
@import "ui/social";
@import "ui/slider";
@import "ui/video";
@import "ui/icons";
@import "ui/toc";
@import "ui/search";
@import "ui/articles";
@import "ui/table";
