.background {

    color: $white;

    & * {
        color: inherit;
    }

    &--whiteSmoke {
        background-color: $white-smoke;
    }

    &--primaryColor {
        background-color: $primary-color;
    }
}
