.contentSearch {
    margin-bottom: 30px;

    &-wrapper {
        max-width: 50%;
        position: relative;
    }

    &-field {
        margin-bottom: 0 !important;
    }

    &-result {

        &-list {
            position: absolute;
            width: 100%;
            height: auto;
            background: white;
            border: 1px $iron;
            border-style: none solid solid solid;
            z-index: 99;
            margin: 0;
            list-style-type: none;

            li {
                padding: 8px 20px;

                a {
                    -webkit-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 1.2;
                }

                &:hover {
                    background-color: $smoke;
                }

                &:first-child {
                    padding-top: 16px;
                }

                &:last-child {
                    padding-bottom: 16px;
                }

            }


        }
    }
}
