.contentSearch {
    margin-bottom: 30px;

    &-wrapper {
        //max-width: 50%;
        position: relative;

        margin: 0 rem-calc(15) !important;

        /*@media #{$small-only} {
            max-width: 100%;
            width: 100%;
        }*/
    }

    &-field {
        margin-bottom: 0 !important;
    }
    &-button {
        margin-bottom: 0;
    }

    &-result {

        &-list {
            position: absolute;
            width: 100%;
            height: auto;
            background: white;
            border: 1px $iron;
            border-style: none solid solid solid;
            z-index: 99;
            margin: 0;
            list-style-type: none;

            @media #{$small-only} {
                position: relative;
            }

            li {
                a {
                    -webkit-transition: all 0.15s ease;
                    transition: all 0.15s ease;
                    padding: 8px 20px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 1.2;


                    &:hover {
                        background-color: $smoke;
                    }

                    &:first-child {
                        padding-top: 16px;
                    }

                    &:last-child {
                        padding-bottom: 16px;
                    }
                }

            }


        }
    }
}
