---
layout: compress
---

{% include _header.html %}

<main>
    <div class="row">
        <div class="medium-8 columns">
            <a href="{{site.productionUrl}}/news.html/" class="button tiny"><i class="fa fa-chevron-left"></i>&nbsp;Back</a><br/>
            <article class="post">
                <header>
                    <h1>{{ page.title }}</h1>

                    <div class="meta">
                        <time>{{ page.date | date: "%Y-%m-%d"}}</time>
                    </div>
                </header>
                {{ content }}
            </article>
        </div>
        <div class="medium-4 columns">
        </div>
    </div>
</main>

{% include _footer.html %}
