{% include _header.html %}

<main class="wiki-content">
    <div class="row">
        <aside class="medium-3 medium-push-9 small-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <p><a href="./"><i class="fa fa-1 fa-chevron-left"></i>&nbsp;&nbsp;Back to overview</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="toc-header">Table of contents</h2>
                    <a href="#" class="js-expandToc">Show/Hide</a>
                    <div id="toc"></div>
                </div>
            </div>
        </aside>
        <section class="medium-9 medium-pull-3 small-12 columns">
            <h1>{{page.title}}</h1>

            <div id="content">{{ content }}</div>
        </section>
    </div>
</main>

{% include _footer.html %}
