body {
background-color: $oil;
}

body > main {
    padding: rem-calc(40) 0;

    @media #{$small-only} {
        padding: rem-calc(20) 0;
    }

    background-color: $white;
}

aside {
    @media #{$small-only} {
        margin-bottom: rem-calc(24);
    }
}

.row {
    @media #{$small-only} {
        overflow: hidden;
    }
}
