name: Arma

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v6
    - name: Validate Config
      run: python3 tools/config_style_checker.py
    - name: Validate Stringtables
      run: python3 tools/stringtable_validator.py
    - name: Check Strings
      run: python3 tools/check_strings.py
    - name: Check for BOM
      uses: arma-actions/bom-check@master
      with:
        path: 'addons'
    - name: Validate function headers
      run: python3 docs/tools/document_functions.py --debug

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v6
    - name: Setup HEMTT
      uses: arma-actions/hemtt@v1
      with:
        annotate: false
    - name: Run HEMTT build
      run: hemtt build
    - name: Rename build folder
      run: mv .hemttout/build .hemttout/@ace
    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: ace3-${{ github.sha }}-nobin
        path: .hemttout/@*
        include-hidden-files: true # Because .hemttout is a hidden directory
