name: Extensions

on:
  pull_request:
    paths:
    - 'extensions/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - name: Checkout the source code
      uses: actions/checkout@v4
    - name: Build
      shell: cmd
      run: |
        cd extensions
        mkdir build
        cd build
        cmake .. && cmake --build .
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ace3_extensions-${{ matrix.os }}-debug
        path: extensions/build
