name: Extensions

on:
  pull_request:
    paths:
    - 'extensions/*'
    - 'extensions/*/*'
    - 'extensions/*/*/*'
    - 'extensions/*/*/*/*'
    - 'extensions/*/*/*/*/*'

jobs:
  build:
    runs-on: ${{ matrix. os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - name: Checkout the source code
      uses: actions/checkout@master
    - name: Build
      shell: cmd
      run: |
        cd extensions/build
        cmake .. && cmake --build .
    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: ace3_extensions-${{ matrix.os }}-debug
        path: extensions/build
